<dx-data-grid id="gridContainer" class="grid"
    #dataGrid
    [dataSource]="hostDataSource"
    [rowAlternationEnabled]="true"
    (onRowDblClick)="updateRow($event)"
    (onEditorPreparing)="onEditorPreparing($event)"
    [showBorders]="true">
 
    <dxo-header-filter [visible]="true"></dxo-header-filter>

    <dxo-paging [pageSize]="10"></dxo-paging>
    
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50]"></dxo-pager>

    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

    <dxo-editing mode="popup" [allowAdding]="true">
        <dxo-popup #addingPopup [width]="700" [closeOnOutsideClick]="true" ></dxo-popup>
        
        <dxo-form labelLocation="top">
            <dxi-item dataField="name" [editorOptions]="{ stylingMode:'underlined' }" >
                <dxi-validation-rule type="stringLength" [ignoreEmptyValue]="true" [min]="3" message="Name must have at least 3 characters"></dxi-validation-rule> 
            </dxi-item>
           
            <dxi-item dataField="surname" [editorOptions]="{ stylingMode:'underlined' }" >
                <dxi-validation-rule type="stringLength" [ignoreEmptyValue]="true" [min]="3" message="Name must have at least 3 characters"></dxi-validation-rule>
            </dxi-item>
            
            <dxi-item dataField="flightCompany.id" [editorOptions]="{stylingMode:'underlined'}"></dxi-item>
            <dxi-item dataField="phone" [editorOptions]="{ stylingMode:'underlined' }"></dxi-item>
            <dxi-item dataField="birthday" editorType="dxDateBox" [editorOptions]="{stylingMode:'underlined'}"></dxi-item>
            <dxi-item dataField="gender" [editorOptions]="{stylingMode:'underlined'}"></dxi-item>
            <dxi-item dataField="weight" [editorOptions]="{stylingMode:'underlined'}"></dxi-item>
            <dxi-item dataField="height" [editorOptions]="{stylingMode:'underlined'}"></dxi-item>
            <dxi-item dataField="workExperience" [editorOptions]="{stylingMode:'underlined'}"></dxi-item>
            <dxi-item dataField="salary" [editorOptions]="{stylingMode:'underlined'}"></dxi-item>
        
        </dxo-form>
    </dxo-editing>
    
    
    <dxi-column dataField="name" ></dxi-column>
    <dxi-column dataField="surname" ></dxi-column>
    <dxi-column dataField="phone" ></dxi-column>
    <dxi-column caption="Flight Company" dataField="flightCompany.id" editCellTemplate="flightCompanyBoxTemplate">
        <dxo-lookup [dataSource]="flightCompanies" displayExpr="name" valueExpr="id"></dxo-lookup>
    </dxi-column>    
    <dxi-column dataField="birthday" [visible]="false"></dxi-column>
    <dxi-column dataField="gender" [visible]="false">
        <dxo-lookup [dataSource]="genders"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="weight" [visible]="false"></dxi-column>
    <dxi-column dataField="height" [visible]="false"></dxi-column>
    <dxi-column dataField="workExperience" [visible]="false"></dxi-column>
    <dxi-column dataField="salary" [visible]="false"></dxi-column>
    <dxi-column caption="Delete" [width]="60" type="buttons" cellTemplate="deleteCellTemplate"></dxi-column>


    <div *dxTemplate = "let data of 'deleteCellTemplate'">
        <dx-button
        icon="trash"
        stylingMode="text"   
        type="danger"         
        (onClick)="showDeletePopup($event,data)"></dx-button>
    </div>
    <div *dxTemplate="let cellData of 'flightCompanyBoxTemplate'">
        <dx-drop-down-box
                stylingMode="underlined"
                #flightCompanyDropDownBox
                (onValueChanged)="dropDownValueChanged($event, cellData.setValue)"
                [value]="cellData.value"
                valueExpr="id"
                [deferRendering]="false"
                [displayExpr]="displayExpr"
                placeholder="Select a value..."
                [showClearButton]="true"
                [dataSource]="flightCompanies">
            <div *dxTemplate="let data of 'content'">
                <dx-data-grid
                        keyExpr="id"
                        [dataSource]="flightCompanies"
                        [columns]="['name']"
                        [selection]="{ mode: 'single' }"
                        [hoverStateEnabled]="true"
                        [paging]="{ enabled: true, pageSize: 10 }"
                        [filterRow]="{ visible: true }"
                        [scrolling]="{ mode: 'infinite' }"
                        [selectedRowKeys]="[cellData.value]"
                        (onSelectionChanged)="dropDownSelectionChanged($event, flightCompanyDropDownBox.instance)"
                        height="100%">
                </dx-data-grid>
            </div>
        </dx-drop-down-box>
    </div>
</dx-data-grid>