<dx-data-grid id="gridContainer" class="grid"
    #dataGrid
    [dataSource]="flightCompanies"
    [rowAlternationEnabled]="true"
    (onRowDblClick)="updateRow($event)"
    (onEditorPreparing)="onEditorPreparing($event)"
    [showBorders]="true">
 
    <dxo-header-filter [visible]="true"></dxo-header-filter>

    <dxo-paging [pageSize]="10"></dxo-paging>
    
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50]"></dxo-pager>

    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

    <dxo-editing mode="popup" [allowAdding]="true">
        <dxo-popup #addingPopup [width]="700" [closeOnOutsideClick]="true" ></dxo-popup>
        
        <dxo-form labelLocation="top">
            <dxi-item dataField="name" [editorOptions]="{ stylingMode:'underlined' }" ></dxi-item>
            <dxi-item dataField="phone" [editorOptions]="{ stylingMode:'underlined' }"></dxi-item>
            <dxi-item caption="Country" dataField="address.country" [editorOptions]="{ stylingMode:'underlined' }"></dxi-item>
            <dxi-item caption="City" dataField="address.city" [editorOptions]="{ stylingMode:'underlined' }"></dxi-item>
        </dxo-form>
    </dxo-editing>
    
    
    <dxi-column dataField="name" ></dxi-column>
    <dxi-column dataField="phone" ></dxi-column>
    <dxi-column caption="Country" dataField="address.country"></dxi-column>
    <dxi-column caption="City" dataField="address.city"></dxi-column>

    <dxi-column caption="Delete" [width]="60" type="buttons" cellTemplate="deleteCellTemplate"></dxi-column>


    <div *dxTemplate = "let data of 'deleteCellTemplate'">
        <dx-button
        icon="trash"
        stylingMode="text"   
        type="danger"         
        (onClick)="showDeletePopup($event,data)"></dx-button>
    </div>
</dx-data-grid>