
<body>
    <div class="container">
      <div class="nav-scroller py-1 mb-2 blog-header">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" routerLink="/pilot">Pilot</a>
          <a class="p-2 text-muted" routerLink="/host">Host</a>
          <a class="p-2 text-muted" routerLink="/passenger">Passenger</a>
          <a class="p-2 text-muted" routerLink="/flight">Flight</a>
          <a class="p-2 text-muted" routerLink="/flight-company">Flight Company</a>
        </nav>
      </div>
    </div>
  </body>
  <router-outlet></router-outlet>